.transform-heading {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 3.5vw;
  font-weight: bold;
  color: #b55219;
  line-height: 4.42vw;
  width: 80%;
  margin: 0 auto;
  padding-top: 5%;
}
.para-text {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.82vw;
  color: #1f2d16;
  text-align: center;
  line-height: 2.5vw;
  width: 80%;
  margin: 0 auto;
}
@media only screen and (max-width: 750px) {
  .custom-mar {
    padding-top: 60%;
  }
}
