.banner-main-class-container {
  display: flex;
  flex-direction: row;
}
.banner-text-conatiner {
  width: 60%;
}
.banner-image-container {
  width: 40%;
  margin-top: 15rem;
}
@media only screen and (max-width: 750px) {
  .banner-image-container {
    width: 50%;
    margin-top: 0;
  }
  .banner-text-conatiner {
    width: 50%;
  }
}
.banner-text-background-container {
  background: transparent url("../../../../public//assets/banner-bg.svg") 0% 0%
    no-repeat padding-box;
  background-size: 90%;
}
.banner-container-text-align {
  width: 60%;
  margin: 0 auto;
  padding-top: 10%;
  padding-bottom: 5%;
}
.banner-text-heading {
  color: #b55219;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 4.41vw;
  font-weight: 900;
  line-height: 5.2vw;
}
.banner-para-text {
  color: #fff;
  font-size: 1.75vw;
  line-height: 2.75rem;
  padding-top: 8%;
  line-height: 2.86vw;
}
.about-button {
  width: 60%;
  margin: 0 auto;
  padding-top: 1%;
  margin-bottom: 5%;
}
.banner-design {
  background: transparent url("../../../../public/assets/banner-bg-design.svg")
    0% 0% no-repeat padding-box;
  background-repeat: no-repeat no-repeat;
  background-size: 75%;
  height: 100vh;
}
.banner-border-design {
  position: absolute;
}
.image-size {
  width: 75%;
}
