.corousel_wrapper {
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    height: 98%;
    width: 75%;
    border-radius: 350px;
    background-image: url(./hero-bg.svg) ;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 70%;
}
@media screen and ( max-width:1024px){
    .corousel_wrapper {
        bottom: 10px ;
       
    }
    .banner_text_wrapper{
        padding-top: 100px !important
        ;
    }
}