.details-main-container {
  background-color: #e1e4e0;
  padding: 6%;
  background-image: url(../../assets/coursal/bg.png);
  background-position: left bottom;
  background-repeat: no-repeat no-repeat;
}
.title-text-details {
  color: #b55219;
  font-size: 58px;
  font-weight: bold;
  width: 50%;
  padding-left: 5%;
  padding-top: 3%;
}
.bold-para-details {
  color: #1f2d16;
  font-size: 28px;
  font-weight: 600;
  width: 50%;
  margin: 0 auto;
  padding-top: 5%;
}
.subpara-details {
  color: #1f2d16;
  font-size: 28px;
  width: 50%;
  padding-top: 2%;
  margin: 0 auto;
}
