.details-main-container {
  background-color: #e1e4e0;
  padding: 6%;
  background-image: url(../../assets/coursal/bg.png);
  background-position: left bottom;
  background-repeat: no-repeat no-repeat;
}
.title-text-details {
  color: #b55219;
  font-size: 3.7vw;
  width: 60%;
  padding-left: 5%;
  margin-top: 3%;
}
.bold-para-details {
  color: #1f2d16;
  font-size: 1.8vw;
  width: 50%;
  margin: 0 auto;
  margin-top: 5%;
}
.subpara-details {
  color: #1f2d16;
  font-size: 1.8vw;
  width: 50%;
  margin: 0 auto;
  margin-top: 3%;
}
@media only screen and (max-width: 1280px) {
  .title-text-details {
    width: 70%;
  }
  .bold-para-details {
    width: 65%;
  }
  .subpara-details {
    width: 65%;
  }
}
@media only screen and (max-width: 750px) {
  .title-text-details {
    width: 90%;
  }
  .bold-para-details {
    width: 90%;
  }
  .subpara-details {
    width: 90%;
  }
}
