.imgWrapper{
    background-image: url(./assets/imgBg.svg);
    background-size: 60%;
    background-repeat: no-repeat ;
    background-position:  center  40px ;
}
.footer-master{
    z-index: 50;
    transform: translateY(150px);

}