.dte-master .img-wrapper {
  background-image: url(../../../assets/dte/hero.png),
    url(../../../assets/dte/bg.png);
  background-position: center bottom 10px, bottom center;
  background-size: auto 104%, 80% auto;
  background-repeat: no-repeat, no-repeat;
}
.dte-bg-wrapper {
  background-image: linear-gradient(to bottom, #e1e4e0, #e1e4e0);
  background-size: 100% 45%;
  background-position: left bottom -100px;
  background-repeat: no-repeat;
}
.DTE-heading {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 3.12vw;
  font-weight: bold;
  color: #1f2d16;
  line-height: 3.9vw;
}
.DTE-para {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.5vw;
  font-weight: 400;
  line-height: 2vw;
  color: #1f2d16;
}
