.header-section {
  background-color: #1f2d16;
}
.page-section-banner {
  display: flex;
  flex-direction: row;
  width: 90%;
  max-width: 1536px;
  margin: 0 auto;
}
.page-section-text {
  font-size: 1vw;
  padding-right: 1%;
}
.main-section {
  background-image: url("../../assets/coursal/bg.png");
  background-repeat: no-repeat, no-repeat;
  background-position: bottom right;
}
.main-section-title {
  font-size: 3vw;
  text-align: center;
}
.color-bar {
  background-color: #b55219;
  padding: 3px;
  width: 5%;
  margin: 0 auto;
  border-radius: 10px;
}

.para-text-desc {
  font-size: 1.5vw;
  text-align: center;
  padding-top: 1.5%;
}

.resource-container {
  width: 90%;
  margin: 0 auto;
  padding-top: 5%;
  display: flex;
  flex-direction: row;
  margin-top: 2%;
}
.resource-image-section {
  width: 95%;
  width: 50%;
}
.resource-text-section {
  padding-left: 3%;
  width: 50%;
}
.nearest-class {
  background-color: #e5e7e3;
  padding: 10px;
  width: 25%;
  border-radius: 10px;
}
.resource-para-text {
  font-size: 1.43vw;
  text-align: center;
}
.heading-resource-text {
  color: #b55219;
  font-size: 3.12vw;
}
.resources-para-text {
  font-size: 1.56vw;
  color: #1f2d16;
  margin-top: 2%;
}
.writer-main {
  width: 50%;
  display: flex;
  flex-direction: row;
}
.writer-image {
  width: 20%;
  margin: 5px;
}
.writer-desc {
  padding-top: 10px;
  padding-left: 10px;
}
.writer-name-text {
  font-size: 22px;
  font-weight: 600;
}
@media only screen and (max-width: 1080px) {
  .resource-container {
    flex-direction: column;
    align-items: center;
  }
  .writer-main {
    width: 60%;
  }
  .resource-text-section {
    margin-top: 5%;
  }
}
@media only screen and (max-width: 1080px) {
  .resource-container {
    flex-direction: column;
    align-items: center;
  }
  .writer-main {
    width: 80%;
  }
  .resource-text-section {
    margin-top: 5%;
  }
}
