.tools-details-main {
  background-color: #e5e7e3;
  padding: 10%;
}
.tools-title {
  color: #b55219;
  font-size: 3.7vw;
  text-align: center;
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
}
.image-section-tools {
  width: 80%;
  margin: auto;
  margin-top: 10%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media only screen and (max-width: 750px) {
 .tools-title{
   width: 100%;
   max-width: 500px;
 }
}