.download-main {
  width: 80%;
  margin: 0 auto;
  margin-top: 10%;
}
.download-title {
  color: #b55219;
  font-size: 3.7vw;
  text-align: center;
}
.download-div {
  border: 2px solid #b55219;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1.5%;
  width: 25%;
  border-radius: 40px;
  margin: 0 auto;
  align-items: center;
  margin-top: 1%;
}
.download-para-text {
  color: #b55219;
  font-size: 1.4vw;
  padding-right: 5%;
}
