.login-main-container {
  width: 40%;
  margin: 0 auto;
  margin-top: 5%;
  background-color: aliceblue;
  border-radius: 20px;
}
.login-sub-cotainer {
  width: 60%;
  margin: 0 auto;
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 5%;
}
.input-field-div {
  display: flex;
  flex-direction: column;
}
.input-box {
  border: 1px solid black;
  padding: 10px;
  margin-top: 10px;
}
.forget-password {
  margin-top: 10px;
}
.login-btn {
  margin-top: 10px;
  background-color: #1f2d16;
  color: #fff;
  padding: 10px;
  border-radius: 20px;
}
.google-btn {
  margin-top: 10px;
  background-color: #1f2d16;
  color: #fff;
  padding: 10px;
  border-radius: 20px;
  display: flex;
  align-items: center;
}