.bolus-master .img-wrapper {
  background-image: url(../../../assets/bolus/hero.png),
    url(../../../assets/bolus/bg.png);
  background-position: right 40% bottom max(4vw, 30px), bottom right;
  background-size: auto min(100%, 350px), 80% auto;
  background-repeat: no-repeat, no-repeat;
}
.bolus-bg-wrapper {
  background-image: linear-gradient(to bottom, #e1e4e0, #e1e4e0);
  background-size: 100% 35%;
  background-position: left top;
  background-repeat: no-repeat;
}
.DigiGAI-Bolus {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 3.12vw;
  font-weight: bold;
  line-height: 3.9vw;
}
.DigiGAI-Bolus-para {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.3vw;
  font-weight: 400;
  line-height: 1.5vw;
  /* width: 130%; */
}
