.dve-master::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 65%;
  background-image: url(../../../assets/dve/hero.png),
    url(../../../assets/dve/dve.png);
  background-size: contain;
  background-size: auto 85%, 65% auto;
  background-position: right 10px bottom -5px;
  background-repeat: no-repeat;
}
@media screen and (max-width: 900px) {
  .dve-master::after {
    top: 100%;
    width: 100%;
    height: 400px;
    background-size: contain;
    background-position: center center;
    background-color: #e1e4e0;
    z-index: -10;
    border-bottom-left-radius: 12px !important;
    border-bottom-right-radius: 12px !important;
  }
  .dve-master {
    margin-bottom: 400px;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }
}
.DVE-heading {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 3.12vw;
  font-weight: bold;
  color: #1f2d16;
  line-height: 3.9vw;
}
.DVE-para {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.3vw;
  font-weight: 400;
  line-height: 1.5vw;
  color: #1f2d16;
  /* width: 120%; */
}
