.slider-card-main {
  width: 80%;
  margin-top: 2%;
  margin-left: 2%;
}
.slider-image-section {
  width: 80%;
  margin: 0 auto;
}
.shop-section {
  background-color: #ffede2;
  margin-top: 15px;
  width: 15%;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  margin-left: 10%;
}
.shop-text {
  color: #b55219;
  font-size: 1vw;
  font-weight: 600;
}
.card-slick-heading {
  width: 80%;
  margin: 0 auto;
  margin-top: 3%;
}
.heading-card-slider {
  color: #b55219;
  font-size: 2vw;
}
.slider-card-para {
  font-size: 1.1vw;
  padding-top: 2%;
}
.writer-main-card {
  margin-top: 15px;
  display: flex;
  width: 80%;
  margin: 0 auto;
  margin-top: 15px;
}
.writer-card-image {
  width: 15%;
}
.writer-name-text-card {
  padding-left: 15px;
  font-size: 1.1vw;
  font-weight: 600;
}
.sliderclass {
  width: 85%;
  margin: 0 auto;
}
.title-section {
  width: 82%;
  margin: 0 auto;
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}
.slider-head-para-text {
  font-size: 2vw;
  font-weight: 600;
}
.arrows-section {
  display: flex;
  flex-direction: row;
}
.left-arrow-section {
  margin-right: 10px;
}
@media only screen and (max-width: 1080px) {
  .resource-container {
    flex-direction: column;
    align-items: center;
  }
  .writer-main {
    width: 60%;
  }
  .resource-text-section {
    margin-top: 5%;
  }
}
@media only screen and (max-width: 1080px) {
  .resource-container {
    flex-direction: column;
    align-items: center;
  }
  .writer-main {
    width: 80%;
  }
  .resource-text-section {
    margin-top: 5%;
  }
}
