.header-section {
  background-color: #1f2d16;
}
.page-section-banner {
  display: flex;
  flex-direction: row;
  width: 90%;
  max-width: 1536px;
  margin: 0 auto;
}
.page-section-text {
  font-size: 1vw;
  padding-left: 1%;
}
.main-section {
  background-image: url("../../assets/coursal/bg.png");
  background-repeat: no-repeat, no-repeat;
  background-position: bottom right;
}
.main-section-title {
  font-size: 3vw;
  text-align: center;
  margin-top: 1%;
}
.color-bar {
  background-color: #b55219;
  padding: 3px;
  width: 5%;
  margin: 0 auto;
  border-radius: 10px;
}
.para-text-desc {
  font-size: 1.5vw;
  text-align: center;
  padding-top: 1.5%;
  padding-bottom: 7%;
}
